In [1]:
import pyqrcode
import pandas as pd

qr_data = []

def createQRCode():
    df = pd.read_csv("std_name.csv")

    for index, values in df.iterrows():
        global qr_data
        name = values["Name"]
        USN = values["USN"]
        data_code = f'''{name} {USN}'''
        data = f'''

        Name: {name} \n
        USN: {USN}
        '''
        image = pyqrcode.create(data_code)
        image.png(f"{name}_{USN}.png", scale="2")
        qr_data.append(data_code)
    df["QRdata"] = qr_data
    df.to_csv("Student_Data.csv")
 
createQRCode()
print(qr_data)

['Atman Mishra 1NH20AI010', 'A. Vignesh Reddy 1NH20AI007', 'G. Sai Charan 1NH20AI031', 'A. Sharath Ram 1NH20AI001', 'Abhisekh Narisepalli Venkata Sai 1NH20AI002']

In [2]:
import cv2
import numpy as np
from pyzbar.pyzbar import decode
import sys
import pandas as pd
import time
import pybase64
import pandas as pd
from PIL import Image
import requests
import cv2
import numpy as np
import imutils
from datetime import date

q = decode(Image.open("A. Vignesh Reddy_1NH20AI007.png"))
for i in q:
    print(i.data.decode("utf-8"))
    
# cap=cv2.VideoCapture(0)

# while True:
#     _,frame=cap.read()
#     cv2.imshow('Frame',frame)
    
#     if cv2.waitKey(1)& 0xFF==ord('s'):
#         cv2.destroyAllWindows()
#         break

A. Vignesh Reddy 1NH20AI007

In [3]:
df = pd.read_csv("Student_Data.csv")
df.head()
absent = qr_data.copy()
print(absent)
def checkQR(data):
    data = str(data)
    data = data.strip()
    data = data.replace("b", "")
    data = data.replace("'", "")
    if data in qr_data:
        print(data)
        try:
            absent.remove(data)
        except:
            print("Already Done")

['Atman Mishra 1NH20AI010', 'A. Vignesh Reddy 1NH20AI007', 'G. Sai Charan 1NH20AI031', 'A. Sharath Ram 1NH20AI001', 'Abhisekh Narisepalli Venkata Sai 1NH20AI002']

In [4]:
# Replace the below URL with your own. Make sure to add "/shot.jpg" at last.
url = "http://192.168.43.243:8080/shot.jpg"
  
# While loop to continuously fetching data from the camera of your phone
while True:
    img_resp = requests.get(url)
    img_arr = np.array(bytearray(img_resp.content), dtype=np.uint8)
    img = cv2.imdecode(img_arr, -1)
    img = imutils.resize(img, width=1000, height=1800)
    cv2.imshow("Android_cam", img)
    decode_object = decode(img)
    for obj in decode_object:
        checkQR(obj.data)
        time.sleep(1)
    # Press Esc key to exit
    if cv2.waitKey(1) == 27:
        break
  
cv2.destroyAllWindows()


# For using your webcam
# while True:
#     _,frame=cap.read()
#     decode_object=decode(frame)
#     cv2.imshow('Frame',frame)
#     for obj in decodeobject:
#         checkQR(obj.data)
#         time.sleep(1)   

#     if cv2.waitKey(1)& 0xFF==ord('s'):
#         cv2.destroyallWindows()
#         break

A. Sharath Ram 1NH20AI001
A. Sharath Ram 1NH20AI001
Already Done
A. Vignesh Reddy 1NH20AI007
A. Vignesh Reddy 1NH20AI007
Already Done
Atman Mishra 1NH20AI010
Atman Mishra 1NH20AI010
Already Done

In [6]:
present = list(set(qr_data)^set(absent))
print(qr_data)
print(absent)
print(present)

['Atman Mishra 1NH20AI010', 'A. Vignesh Reddy 1NH20AI007', 'G. Sai Charan 1NH20AI031', 'A. Sharath Ram 1NH20AI001', 'Abhisekh Narisepalli Venkata Sai 1NH20AI002']
['G. Sai Charan 1NH20AI031', 'Abhisekh Narisepalli Venkata Sai 1NH20AI002']
['A. Vignesh Reddy 1NH20AI007', 'A. Sharath Ram 1NH20AI001', 'Atman Mishra 1NH20AI010']

In [7]:
df.head()

,Unnamed: 0,Name,USN,QRdata
0,0,Atman Mishra,1NH20AI010,Atman Mishra 1NH20AI010
1,1,A. Vignesh Reddy,1NH20AI007,A. Vignesh Reddy 1NH20AI007
2,2,G. Sai Charan,1NH20AI031,G. Sai Charan 1NH20AI031
3,3,A. Sharath Ram,1NH20AI001,A. Sharath Ram 1NH20AI001
4,4,Abhisekh Narisepalli Venkata Sai,1NH20AI002,Abhisekh Narisepalli Venkata Sai 1NH20AI002

In [8]:
absent

['G. Sai Charan 1NH20AI031', 'Abhisekh Narisepalli Venkata Sai 1NH20AI002']

In [9]:
df.loc[df['QRdata'].isin(absent), date.today()] = 0
df.loc[df['QRdata'].isin(present), date.today()] = 1
df.head()

,Unnamed: 0,Name,USN,QRdata,2022-01-01
0,0,Atman Mishra,1NH20AI010,Atman Mishra 1NH20AI010,1.0
1,1,A. Vignesh Reddy,1NH20AI007,A. Vignesh Reddy 1NH20AI007,1.0
2,2,G. Sai Charan,1NH20AI031,G. Sai Charan 1NH20AI031,0.0
3,3,A. Sharath Ram,1NH20AI001,A. Sharath Ram 1NH20AI001,1.0
4,4,Abhisekh Narisepalli Venkata Sai,1NH20AI002,Abhisekh Narisepalli Venkata Sai 1NH20AI002,0.0