In [1]:
import pyqrcode
import cv2
import numpy as np
from pyzbar.pyzbar import decode
import sys
import pandas as pd
import time
import pybase64
import pandas as pd
from PIL import Image
import requests
import cv2
import numpy as np
import imutils
from datetime import date
from datetime import datetime

qr_data = []
df = pd.read_csv("std_name.csv")
def createQRCode():
    for index, values in df.iterrows():
        global qr_data
        name = values["Name"]
        USN = values["USN"]
        data_code = f'''{name} {USN}'''
        data = f'''
        
        Name: {name} \n
        USN: {USN}
        
        '''
        image = pyqrcode.create(data_code)
        image.png(f"{name}_{USN}.png", scale="10")
        qr_data.append(data_code)
    df["QRdata"] = qr_data
    df.to_csv("Student_Data.csv")
print(df.head())
createQRCode()
print(qr_data)

                               Name         USN
0                      Atman Mishra  1NH20AI010
1                  A. Vignesh Reddy  1NH20AI007
2                     G. Sai Charan  1NH20AI031
3                    A. Sharath Ram  1NH20AI001
4  Abhisekh Narisepalli Venkata Sai  1NH20AI002
['Atman Mishra 1NH20AI010', 'A. Vignesh Reddy 1NH20AI007', 'G. Sai Charan 1NH20AI031', 'A. Sharath Ram 1NH20AI001', 'Abhisekh Narisepalli Venkata Sai 1NH20AI002']

In [2]:
# Run the program from here, If you are just updating the existing file
# This will not change the QR_Code which is already genearted 


# import pyqrcode
# import cv2
# import numpy as np
# from pyzbar.pyzbar import decode
# import sys
# import pandas as pd
# import time
# import pybase64
# import pandas as pd
# from PIL import Image
# import requests
# import cv2
# import numpy as np
# import imutils
# from datetime import date


# q = decode(Image.open("A. Vignesh Reddy_1NH20AI007.png"))
# for i in q:
#     print(i.data.decode("utf-8"))
    
cap=cv2.VideoCapture(0)

In [3]:
df.head()

,Name,USN,QRdata
0,Atman Mishra,1NH20AI010,Atman Mishra 1NH20AI010
1,A. Vignesh Reddy,1NH20AI007,A. Vignesh Reddy 1NH20AI007
2,G. Sai Charan,1NH20AI031,G. Sai Charan 1NH20AI031
3,A. Sharath Ram,1NH20AI001,A. Sharath Ram 1NH20AI001
4,Abhisekh Narisepalli Venkata Sai,1NH20AI002,Abhisekh Narisepalli Venkata Sai 1NH20AI002

In [4]:
df_StudentData = pd.read_csv("Student_Data.csv")


absent = list(df_StudentData["QRdata"].copy())
Student_QR = pd.Series(df_StudentData["QRdata"])
All_Student_QRdata = list(Student_QR)

def checkQR(data):
    data = str(data)
    data = data.strip()
    data = data.replace("b", "")
    data = data.replace("'", "")
    if data in Student_QR:
        print(data)
        try:
            absent.remove(data)
        except:
            print("Already Done")

In [5]:
print(absent)
print(All_Student_QRdata)

['Atman Mishra 1NH20AI010', 'A. Vignesh Reddy 1NH20AI007', 'G. Sai Charan 1NH20AI031', 'A. Sharath Ram 1NH20AI001', 'Abhisekh Narisepalli Venkata Sai 1NH20AI002']
['Atman Mishra 1NH20AI010', 'A. Vignesh Reddy 1NH20AI007', 'G. Sai Charan 1NH20AI031', 'A. Sharath Ram 1NH20AI001', 'Abhisekh Narisepalli Venkata Sai 1NH20AI002']

In [6]:
df_StudentData.head()

,Unnamed: 0,Name,USN,QRdata
0,0,Atman Mishra,1NH20AI010,Atman Mishra 1NH20AI010
1,1,A. Vignesh Reddy,1NH20AI007,A. Vignesh Reddy 1NH20AI007
2,2,G. Sai Charan,1NH20AI031,G. Sai Charan 1NH20AI031
3,3,A. Sharath Ram,1NH20AI001,A. Sharath Ram 1NH20AI001
4,4,Abhisekh Narisepalli Venkata Sai,1NH20AI002,Abhisekh Narisepalli Venkata Sai 1NH20AI002

In [ ]:
# Replace the below URL with your own. Make sure to add "/shot.jpg" at last.
url = "http://192.168.43.23:8080/shot.jpg"

# While loop to continuously fetching data from the camera of your phone
while True:
    img_resp = requests.get(url)
    img_arr = np.array(bytearray(img_resp.content), dtype=np.uint8)
    img = cv2.imdecode(img_arr, -1)
    img = imutils.resize(img, width=1000, height=1800)
    cv2.imshow("Android_cam", img)
    decode_object = decode(img)
    for obj in decode_object:
        checkQR(obj.data)
        time.sleep(1)
    # Press Esc key to exit
    if cv2.waitKey(1) == 27:
        break
  
cv2.destroyAllWindows()


# For using your webcam
# while True:
#     _,frame=cap.read()
#     decode_object=decode(frame)
#     cv2.imshow('Frame',frame)
#     for obj in decode_object:
#         checkQR(obj.data)
#         time.sleep(1)   

#     if cv2.waitKey(1)& 0xFF==ord('s'):
#         cv2.destroyAllWindows()
#         break

In [7]:
present = list(set(qr_data)^set(absent))
flag = 0
print(All_Student_QRdata)
print(absent)
print(present)

['Atman Mishra 1NH20AI010', 'A. Vignesh Reddy 1NH20AI007', 'G. Sai Charan 1NH20AI031', 'A. Sharath Ram 1NH20AI001', 'Abhisekh Narisepalli Venkata Sai 1NH20AI002']
['Atman Mishra 1NH20AI010', 'A. Vignesh Reddy 1NH20AI007', 'G. Sai Charan 1NH20AI031', 'A. Sharath Ram 1NH20AI001', 'Abhisekh Narisepalli Venkata Sai 1NH20AI002']
[]

In [8]:
df.head()

,Name,USN,QRdata
0,Atman Mishra,1NH20AI010,Atman Mishra 1NH20AI010
1,A. Vignesh Reddy,1NH20AI007,A. Vignesh Reddy 1NH20AI007
2,G. Sai Charan,1NH20AI031,G. Sai Charan 1NH20AI031
3,A. Sharath Ram,1NH20AI001,A. Sharath Ram 1NH20AI001
4,Abhisekh Narisepalli Venkata Sai,1NH20AI002,Abhisekh Narisepalli Venkata Sai 1NH20AI002

In [9]:
absent
print(date.today())

2022-01-05

In [19]:
if flag == 0:
    today_date = f'''{datetime.now()}'''
    df_StudentData.loc[df['QRdata'].isin(absent), today_date] = "Absent"
    df_StudentData.loc[df['QRdata'].isin(present), today_date] = "Present"
#     df.drop(columns=df.columns[0], 
#         axis=1, 
#         inplace=True)
    df_StudentData.to_csv("Student_Attendance.csv", index = False)
    flag = 1
elif flag == 1:
    today_date = f'''{datetime.now()}'''
    df_Attendance = pd.read_csv("Student_Attendance.csv")
    df_Attendance.loc[df['QRdata'].isin(absent), today_date] = "Absent"
    df_Attendance.loc[df['QRdata'].isin(present), today_date] = "Present"
#     df.drop(columns=df.columns[0], 
#         axis=1, 
#         inplace=True)
    df_Attendance.to_csv("Student_Attendance.csv", index = False)

In [20]:
flag

1

In [21]:
df_Attendance

,Unnamed: 0,Name,USN,QRdata,2022-01-05,2022-01-05 08:21:09.904825,2022-01-05 08:21:15.460200,2022-01-05 08:21:36.360423
0,0,Atman Mishra,1NH20AI010,Atman Mishra 1NH20AI010,Absent,Absent,Absent,Absent
1,1,A. Vignesh Reddy,1NH20AI007,A. Vignesh Reddy 1NH20AI007,Absent,Absent,Absent,Absent
2,2,G. Sai Charan,1NH20AI031,G. Sai Charan 1NH20AI031,Absent,Absent,Absent,Absent
3,3,A. Sharath Ram,1NH20AI001,A. Sharath Ram 1NH20AI001,Absent,Absent,Absent,Absent
4,4,Abhisekh Narisepalli Venkata Sai,1NH20AI002,Abhisekh Narisepalli Venkata Sai 1NH20AI002,Absent,Absent,Absent,Absent